@use '../../foundation' as *;

.c-border-yellow {
  position: relative;
  display: inline-block;

  &,
  span {
    position: relative;
    display: inline-block;

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 1.01px;
      background-color: #FAEE00;
      transition: width 1.2s cubic-bezier(0.4, 0, 0.2, 1);
      content: '';
      pointer-events: none;
    }
  }

  &.is-visible {
    &::after {
      width: 100%;
    }

    span::after {
      width: 100%;
    }
  }
}