@use "../../foundation/variables" as *;
@use "../../foundation/functions" as *;
@use "../../foundation/mixin" as *;

// ========================================
// フッター
// ========================================
.p-footer {
  width: 100%;
  padding: prem(30) 0;
  background-color: $color-black;

  @include mq("md") {
    padding: prem(20) 0;
  }
}

.p-footer__copyright {
  text-align: center;

  small {
    font-family: $font-family-primary;
    font-size: prem(14);
    font-weight: $regular;
    color: $color-white;

    @include mq("md") {
      font-size: prem(13);
    }
  }
}
